.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.menu li {
  background-color: #5fbae9;
  float: left;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  margin-left: 2px;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: #39ace7;
}

.subMenu{
  display: none;
}
/*submenu style*/
.show{
  position: absolute;
  display: block;
}
