{% extends "layout.html" %}
{% block title %}Add new applicant{% endblock %}
{% block h1 %}Add new applicant{% endblock %}
{% block content %}
    <div id="quiz_list">
    <p>
        After we returned the hat, a new applicant appeared at the school, and he wants to get into the application process.
        His name is Markus Schaffarzyk, has a number: 003620/725-2666 and e-mail address: djnovus@groovecoverage.com
        Our generator gave him the following application code: 54823 After INSERTing the data, write a SELECT query,
        that returns with all the columns of this applicant! (use the unique application code for your condition!)
    </p>
        <form action="/add_new_applicant" method="POST" enctype="multipart/form-data">
            <h5><label for="first_name">First name</label></h5>
                <input type="text" id="first_name" name="first_name" required>
            <h5><label for="last_name">Last name</label></h5>
                <input type="text" id="last_name" name="last_name" required>
            <h5><label for="phone_number">Phone number</label></h5>
                <input type="tel" id="phone_number" name="phone_number" required>
            <h5><label for="email">E-mail</label></h5>
                <input type="email" id="email" name="email" required>
            <h5><label for="application_code">Application code</label></h5>
                <input type="number" id="application_code" name="application_code" required>
            <h5><label for="user_image">User image (size limit 1Mb)</label></h5>
                <input type="file" id="user_image" name="user_image">
            <h5><input type="submit" value="Send"></h5>
        </form>
    </div>

    {% include 'footer.html' %}
{% endblock %}