{% extends "layout.html" %}
{% block title %}Another girl's fullname and number{% endblock %}
{% block h1 %}Another girl's fullname and number{% endblock %}
{% block content %}
    <div id="quiz_list">
    <h3>Another girl's fullname and number</h3>
    <p>
        We called Carol, and she said it's not her hat. It belongs to another girl, who went to the famous Adipiscingenimmi
        University. You should write a query to get the same informations like with Carol, but for this other girl.
        The only thing we know about her is her school e-mail address ending: '@adipiscingenimmi.edu'
    </p>
    <table id="quizes_list_table">
        <thead></thead>
        <tbody>
            <tr>
                <th>Fullname</th>
                <th>Phone number</th>
            </tr>
            {% for item in another_girls_fullname_number %}
            <tr>
                <td>{{ item['first_name'] }} {{ item['last_name'] }}</td>
                <td>{{ item['phone_number'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}