{% extends "layout.html" %}
{% block title %}Applicants info{% endblock %}
{% block h1 %}Applicants info{% endblock %}
{% block content %}
    <div id="quiz_list">
    <table id="quizes_list_table">
        <thead></thead>
        <tbody>
            <tr>
                <th>first name</th>
                <th>last name</th>
                <th>phone number</th>
                <th>email</th>
                <th>application code</th>
                <th>update</th>
                <th>delete</th>
            </tr>
                {% for applicant in applicants_info %}
                    <tr>
                        <td>{{ applicant.first_name }}</td>
                        <td>{{ applicant.last_name }}</td>
                        <td>{{ applicant.phone_number}}</td>
                        <td>{{ applicant.email}}</td>
                        <td>{{ applicant.application_code}}</td>
                        <td><img style="height: 35px" src="{{ url_for('static', filename="images/update.png") }}"></td>
                        <td><img src="{{ url_for('static', filename="images/delete.png") }}"></td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}