{% extends "layout.html" %}
{% block title %}Update info about an applicant{% endblock %}
{% block h1 %}Update info about an applicant{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <div style="margin-top: -100px" class="row">
            <div class="col-sm-4">
                {% if applicant_info_by_id.user_image_name %}
                    <a href="/static/user_images/{{applicant_info_by_id.user_image_name}}">
                        <img style="width: 350px" src="/static/user_images/{{applicant_info_by_id.user_image_name}}">
                    </a>
                    {% else %}
                    <a href="/static/user_images/{{applicant_info_by_id.user_image_name}}">
                        <img style="width: 350px" src="/static/images/no-image.jpg">
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-8">
               <form class="update" action="/applicant_update" method="POST" enctype="multipart/form-data">
                   <p>
                       <label for="first_name">First name</label>
                        <input type="text" id="first_name" name="first_name" value="{{ applicant_info_by_id.first_name }}">
                        <input hidden name="id" value="{{ applicant_info_by_id.id }}">
                   </p>
                   <p>
                       <label for="last_name">Last name</label>
                        <input type="text" id="last_name" name="last_name" value="{{ applicant_info_by_id.last_name }}">
                   </p>
                   <p>
                       <label for="phone_number">Phone number</label>
                        <input type="tel" id="phone_number" name="phone_number" value="{{ applicant_info_by_id.phone_number }}">
                   </p>
                   <p>
                       <label for="email">E-mail</label>
                       <input type="email" id="email" name="email" value="{{ applicant_info_by_id.email }}">
                   </p>
                   <p>
                       <label for="application_code" hidden >Application code</label>
                        <input type="number" hidden id="application_code" name="application_code" value="{{ applicant_info_by_id.application_code }}">
                   </p>
                   <p>
                       <label for="user_image">User image (size limit 2Mb)</label>
                       <input type="file" id="user_image" name="user_image">
                       <input type="submit" value="Update">
                   </p>
               </form>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}