{% extends "layout.html" %}
{% block title %}Carol's fullname and number{% endblock %}
{% block h1 %}Carol's fullname and number{% endblock %}
{% block content %}
    <div id="quiz_list">
    <h3>Carol's fullname and number</h3>
    <p>
        We had interview with an applicant, some Carol. We don't remember her name, but she left her hat at the school.
        We want to call her to give her back her hat. To look professional, we also need her full name when she answers
        the phone (for her full_name, you want to include a concatenation into your query, to get her full_name,
        like: "Carol Something" instead of having her name in 2 different columns in the result
    </p>
    <table id="quizes_list_table">
        <thead></thead>
        <tbody>
            <tr>
                <th>Fullname</th>
                <th>Phone number</th>
            </tr>
            {% for item in carols_fullname_and_number %}
            <tr>
                <td>{{ item['first_name'] }} {{ item['last_name'] }}</td>
                <td>{{ item['phone_number'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}