{% extends "layout.html" %}
{% block title %}Contacts{% endblock %}
{% block h1 %}Contacts{% endblock %}
{% block content %}
    <div id="quiz_list">
    <h3>Contacts page</h3>
    <p>
        On this page you should show the result of a query that returns the name of the school plus
        the name of contact person at the school (from the mentors table) ordered by the name of the school
    </p>
    <table id="quizes_list_table" width="300px">
        <thead></thead>
        <tbody>
            <tr>
                <th>school</th>
                <th>contact_person</th>
            </tr>
            {% for school_contact in school_contacts %}
                    <tr>
                        <td>{{ school_contact.schools_name }}</td>
                        {% if school_contact.mentors_name or school_contact.mentors_lastname %}
                            <td>{{ school_contact.mentors_name }} {{ school_contact.mentors_lastname }}</td>
                        {% else %}
                            <td>Not assigned</td>
                        {% endif %}
                    </tr>
            {% endfor%}
        </tbody>
    </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}