{% extends "layout.html" %}
{% block title %}Edit user profile{% endblock %}
{% block h1 %}Edit user profile{% endblock %}
{% block content %}
    <div style="margin-top: -100px" class="jumbotron text-center">
        <div class="row">
            <div class="col-sm-4">
                {% if user_info.user_image %}
                    <a href="/static/user_images/{{user_info.user_image}}">
                        <img style="width: 350px" src="/static/user_images/{{user_info.user_image}}">
                    </a>
                    {% else %}
                    <img style="width: 350px" src="/static/images/no-image.jpg">
                {% endif %}
            </div>
            <div class="col-sm-8">
               <form class="update" action="/edit" method="POST" enctype="multipart/form-data">
                   <p>
                        <label for="first_name">First name</label>
                            <input type="text" id="first_name" name="first_name" value="{{ user_info.first_name }}" required>
                   </p>
                   <p>
                       <label for="last_name">Last name</label>
                            <input type="text" id="last_name" name="last_name" value="{{ user_info.last_name }}" required>
                   </p>
                   <p>
                       <label for="email">E-mail</label>
                            <input type="email" id="email" name="email" value="{{ user_info.email }}" required>
                            <input hidden type="text"name="id" value="{{ user_info.id }}">
                            <input hidden type="text"name="login" value="{{ user_info.login }}">
                   </p>
                   <p>
                       <label for="password">Old password</label>
                            <input type="password" id="old_password" name="old_password">
                   </p>
                   <p>
                       <label for="new_password">New password</label>
                            <input type="password" pattern=".{5,}" id="new_password" name="new_password">
                   </p>
                   <p><label for="password">Confirm new password</label>
                        <input type="password" id="confirm_password" name="confirm_password">
                   </p>
                   {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <label style="color: red">{{ message }}</label>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                   <p>
                       <label for="user_image">Profile photo</label>
                        <input type="file" id="user_image" name="user_image">
                       <input type="submit" formaction="/user/{{ user_info.login }}/edit" formmethod="POST" value="Update">
                  </p>
                </form>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}