{% extends "layout.html" %}

{% block title %}JavaScript{% endblock %}
{% block script %}
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
{% endblock %}

{% block h1 %}JavaScript{% endblock %}

{% block content %}
    <style>
        .selected{
            background: #4CAF50;
            color: white;
        }
        .hide{
            display: none;
            color: #4CAF50;
        }
    </style>
    {% if  session['super_user'] and 'username' in session %}
        <p id="my">Hello {{session['username']}}</p>
        <p>Try JavaScript</p>
    {% else %}
        Hello stranger!
    {% endif %}
{% endblock %}