{% extends "layout.html" %}

{% block title %}JavaScript{% endblock %}
{% block script %}
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
{% endblock %}
{%  block style %}
    <link rel="stylesheet" href="/static/css/js.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
{% endblock %}

{% block h1 %}JavaScript{% endblock %}

{% block content %}
        <h3><span id="player1_scores">Player1</span> to <span id="player2_scores">Player 2</span></h3>
        <p>Playing to: <span>5</span></p>
        <input id="max_score" style="width: 100px; height: 30px" type="number" placeholder="5" value="5">
        <button style="color: red" id="player1_button">Player1</button>
        <button style="color: blue" id="player2_button">Player2</button>
        <button id="reset_button">Reset</button>
    <div class="drag" id="left">
        <div>Some text in fist container</div>
        <div>Another text in fist container</div>
    </div>
    <div class="drag" id="right">
        <div>Some text in second container</div>
        <div>Another text in second container</div>
    </div>
{% endblock %}