{% extends "layout.html" %}
{% block title %}Mentors and schools page{% endblock %}
{% block h1 %}Mentors and schools page{% endblock %}
{% block content %}
    <div id="quiz_list">
    <table id="quizes_list_table" width="300px">
        <thead><p style="text-align: center">Mentors and schools page</p></thead>
        <tbody>
            <tr>
                <th>mentors first name</th>
                <th>mentors last name</th>
                <th>schools name</th>
                <th>schools country</th>
            </tr>
            {% for mentor_and_school in mentors_and_schools_info %}
                <tr>
                    <td>{{ mentor_and_school.mentors_name }}</td>
                    <td>{{ mentor_and_school.mentors_lastname }}</td>
                    <td>{{ mentor_and_school.schools_name }}</td>
                    <td>{{ mentor_and_school.schools_country }}</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}