{% extends "layout.html" %}
{% block title %}Sign up{% endblock %}
{% block h1 %}Sign up{% endblock %}
{% block content %}
    <div id="quiz_list">
        <form action="/sign-up" method="POST" enctype="multipart/form-data">
            <h5><label for="first_name">First name</label></h5>
                <input type="text" id="first_name" name="first_name" value="{{ request.form['first_name']}}" required>
            <h5><label for="last_name">Last name</label></h5>
                <input type="text" id="last_name" name="last_name"  value="{{ request.form['last_name']}}" required>
            <h5><label for="email">E-mail</label></h5>
                <input type="email" id="email" name="email"  value="{{ request.form['email']}}" required>
            <h5><label for="login">Login</label></h5>
                <input type="text" id="login" name="login"  value="{{ request.form['login']}}" required>
                {% if request.form['password'] %}
                    <h5><label style="color: red" for="password">Password</label></h5>
                {% else %}
                    <h5><label for="password">Password</label></h5>
                {% endif %}
                <input type="password" id="password" name="password"required>
                {% if request.form['confirm_password'] %}
                    <h5><label style="color: red" for="password">Confirm password</label></h5>
                {% else %}
                    <h5><label for="password">Confirm password</label></h5>
                {% endif %}
                <input type="password" id="confirm_password" name="confirm_password" required>
            <h5><label for="user_image">Profile photo(optional)</label></h5>
                <input type="file" id="user_image" name="user_image">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                                <label style="color: red">{{ message }}</label>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            <h5><input type="submit" value="Send"></h5>
        </form>
    </div>

    {% include 'footer.html' %}
{% endblock %}