{% extends "layout.html" %}
{% block title %}Sign up{% endblock %}
{% block h1 %}Sign up{% endblock %}
{% block content %}
    <div id="quiz_list">
        <form class="update" action="/sign-up" method="POST" enctype="multipart/form-data">
            <p><label for="first_name">First name</label>
                <input type="text" id="first_name" name="first_name" value="{{ request.form['first_name']}}" required>
            </p>
            <p><label for="last_name">Last name</label>
                <input type="text" id="last_name" name="last_name"  value="{{ request.form['last_name']}}" required>
            </p>
            <p><label for="email">E-mail</label>
                <input type="email" id="email" name="email"  value="{{ request.form['email']}}" required>
            </p>
            <p><label for="login">Login</label>
                <input pattern=".{5,}" required title="5 characters minimum" type="text" id="login" name="login"  value="{{ request.form['login']}}" required>
            </p>
                {% if request.form['password'] %}
                    <p><label style="color: red" for="password">Password</label>
                {% else %}
                    <p><label for="password">Password</label>
                {% endif %}
                    <input pattern=".{5,}" required title="5 characters minimum" type="password" id="password" name="password"required>
                    </p>
                {% if request.form['confirm_password'] %}
                    <p><label style="color: red" for="password">Confirm password</label>
                {% else %}
                    <p><label for="password">Confirm password</label>
                {% endif %}
                    <input type="password" id="confirm_password" name="confirm_password" required>
                    </p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                                <label style="color: red">{{ message }}</label>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            <p><label for="user_image">Profile photo(optional)</label>
                <input type="file" id="user_image" name="user_image">
                <input type="submit" value="Send">
            </p>
        </form>
    </div>

    {% include 'footer.html' %}
{% endblock %}