{% extends "layout.html" %}

{% block title %}Tic Tac Toe game{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block h1 %}Tic Tac Toe game{% endblock %}

{% block content %}
 <form action="/tic-tac-toe-game" method="GET">
        <h3><label for="selection">Set the field size and game mode {#and how many consecutive ones the player must collect to win!#}</label></h3>
        <div class="row">
            <div class="col-4 col-md-2 col-lg-1">
                <label>Row num</label>
            </div>
            <div class="col-4 col-md-2 col-lg-1">
                <label>Col num</label>
            </div>
{#            <div class="col-4 col-md-2 col-lg-1"> for future plans - change size of a win combination#}
{#                <label>Win size</label>#}
{#            </div>#}
            <div class="col-4 col-md-2 col-lg-1">
                <label>Two/single play</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4 col-md-2 col-lg-1">
                <select class="form-control" name="row-num">
                    {% for num in range(3, 21) %}
                        <option value="{{ num }}">{{ num }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4 col-md-2 col-lg-1">
                <select class="form-control" name="col-num">
                    {% for num in range(3, 21) %}
                        <option value="{{ num }}">{{ num }}</option>
                    {% endfor %}
                </select>
            </div>
{#            <div class="col-4 col-md-2 col-lg-1">#}
{#                <select class="form-control" name="win-size">#}
{#                    {% for num in range(3, 7) %}#}
{#                        <option value="{{ num }}">{{ num }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}
            <div class="col-4 col-md-2 col-lg-1">
                <select class="form-control" name="two-single-play">
                        <option value="1" selected>Single</option>
                        <option value="2">Two</option>

                </select>
            </div>
        </div>
        <button class="btn-outline-dark" type="submit">Let's go!</button>
    </form>
{% endblock %}