{% extends "layout.html" %}

{% block title %}Tic Tac Toe game{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='js/tic_tac_toe_game.js')}}" defer></script>
{% endblock %}

{% block h1 %}Tic Tac Toe game{% endblock %}

{% block content %}
    <div id="game-content">
        <h2 id="player">
            {% if two_single_play == 1 %}
                Game against <label id="computer">computer</label>
            {% else %}
                Game player against player
            {% endif %}
        </h2>
        <nav>
            <button id="retry-button" class="btn btn-success" onclick="window.location.reload(false);">Try again?</button>
            <a href="/tic-tac-toe" class="btn btn-outline-dark">Reset settings</a>
        </nav>
        <div id="game-board" class="mb-3" data-row-num="{{ row_num }}" data-col-num="{{ col_num }}" data-win-size="{{ win_size }}">
            {% for row in range(row_num) %}
                <div>
                    {% for col in range(col_num) %}
                        <div class="game-cell"
                             data-coordinate-x="{{ col }}"
                             data-coordinate-y="{{ row }}">
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

